### 19.4.2 Real Data, Real Practice - Deep Learning Classification Model (Tabular input data)


Data questions to consider:
* What about this dataset makes it complex? Is it a variable? Is it the distribution of values? Is it the size of the dataset?


* Which variables should I investigate prior to implementing my model? What does the distribution look like? Hint: Use Pandas’ Series.plot.density() method to find out.


* What outcome am I looking for from the model? Which activation function should I use to get my desired outcome?


* What is my accuracy cutoff? In other words, what percent testing accuracy must my model exceed?

Dataset : Contains employee career profile and attrition (departure from company) information, such as age, department, job role, work/life balance, and so forth. Using this data, we can generate a deep learning model that can help to identify whether or not a person is likely to depart from the company given his or her current employee profile.

### Import Dependencies

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [4]:
# Import our input dataset
attrition_df = pd.read_csv('HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

### 19.4.3 Preprocessing: Encode all categorical data

In [5]:
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [6]:
# Check the number of unique values in each column to bucket
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [8]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

### Training and Testing Datasets
Input values --> separate into features (X)
output target value --> separate into target (y)

In [9]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

### Standardization of Data

In [10]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
# Check data and dataframe
attrition_df.head(10)

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
5,32,1005,2,2,1,8,4,79,3,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
6,59,1324,3,3,1,10,3,81,4,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
7,30,1358,24,1,1,11,4,67,3,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
8,38,216,23,3,1,12,4,44,2,3,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
9,36,1299,27,3,1,13,3,94,3,2,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

### 19.4.4 Deep Learning Model Design

Notes:
For our input layer, we must add the number of input features equal to the number of variables in our feature DataFrame.
In our hidden layers, our deep learning model structure will be slightly different—we’ll add two hidden layers with only a few neurons in each layer. To create the second hidden layer, we’ll add another Keras Dense class while defining our model. All of our hidden layers will use the relu activation function to identify nonlinear characteristics from the input values.
In the output layer, we’ll use the same parameters from our basic neural network including the sigmoid activation function. The sigmoid activation function will help us predict the probability that an employee is at risk for attrition.

In [12]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From /opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/tensorflow/python/ops/init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 448
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model and define the loss and accuracy metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From /opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

### 19.4.5 Train and Evaluate the Model

In [14]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
1102/1102 [==============================] - 0s 147us/sample - loss: 58.7475 - acc: 0.8276
Epoch 2/100
1102/1102 [==============================] - 0s 50us/sample - loss: 21.0775 - acc: 0.8122
Epoch 3/100
1102/1102 [==============================] - 0s 54us/sample - loss: 7.5996 - acc: 0.4946
Epoch 4/100
1102/1102 [==============================] - 0s 47us/sample - loss: 3.6453 - acc: 0.2976
Epoch 5/100
1102/1102 [==============================] - 0s 50us/sample - loss: 2.2989 - acc: 0.5935
Epoch 6/100
1102/1102 [==============================] - 0s 52us/sample - loss: 1.7788 - acc: 0.8276
Epoch 7/100
1102/1102 [==============================] - 0s 44us/sample - loss: 1.5272 - acc: 0.8276
Epoch 8/100
1102/1102 [==============================] - 0s 49us/sample - loss: 1.2766 - acc: 0.8276
Epoch 9/100
1102/1102 [==============================] - 0s 60us/sample - loss: 1.0516 - acc: 0.8276
Epoch 10/100
1102/1102 [==============================] - 0s 55us/sample - loss: 0.9553 - acc: 0.8276
Epoch 11/100
1102/1102 [==============================] - 0s 67us/sample - loss: 0.8338 - acc: 0.8276
Epoch 12/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.7406 - acc: 0.8276
Epoch 13/100
1102/1102 [==============================] - 0s 46us/sample - loss: 0.6958 - acc: 0.8276
Epoch 14/100
1102/1102 [==============================] - 0s 39us/sample - loss: 0.6459 - acc: 0.8276
Epoch 15/100
1102/1102 [==============================] - 0s 51us/sample - loss: 0.6166 - acc: 0.8276
Epoch 16/100
1102/1102 [==============================] - 0s 47us/sample - loss: 0.6100 - acc: 0.8276
Epoch 17/100
1102/1102 [==============================] - 0s 49us/sample - loss: 0.5988 - acc: 0.8276
Epoch 18/100
1102/1102 [==============================] - 0s 54us/sample - loss: 0.5895 - acc: 0.8276
Epoch 19/100
1102/1102 [==============================] - 0s 54us/sample - loss: 0.5779 - acc: 0.8276
Epoch 20/100
1102/1102 [==============================] - 0s 46us/sample - loss: 0.5681 - acc: 0.8276
Epoch 21/100
1102/1102 [==============================] - 0s 47us/sample - loss: 0.5592 - acc: 0.8276
Epoch 22/100
1102/1102 [==============================] - 0s 43us/sample - loss: 0.5506 - acc: 0.8276
Epoch 23/100
1102/1102 [==============================] - 0s 45us/sample - loss: 0.5453 - acc: 0.8276
Epoch 24/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.5403 - acc: 0.8276
Epoch 25/100
1102/1102 [==============================] - 0s 45us/sample - loss: 0.5358 - acc: 0.8276
Epoch 26/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.5315 - acc: 0.8276
Epoch 27/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.5272 - acc: 0.8276
Epoch 28/100
1102/1102 [==============================] - 0s 56us/sample - loss: 0.5229 - acc: 0.8276
Epoch 29/100
1102/1102 [==============================] - 0s 57us/sample - loss: 0.5212 - acc: 0.8276
Epoch 30/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.5163 - acc: 0.8276
Epoch 31/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.5127 - acc: 0.8276
Epoch 32/100
1102/1102 [==============================] - 0s 47us/sample - loss: 0.5090 - acc: 0.8276
Epoch 33/100
1102/1102 [==============================] - 0s 46us/sample - loss: 0.5057 - acc: 0.8276
Epoch 34/100
1102/1102 [==============================] - 0s 42us/sample - loss: 0.5022 - acc: 0.8276
Epoch 35/100
1102/1102 [==============================] - 0s 43us/sample - loss: 0.4990 - acc: 0.8276
Epoch 36/100
1102/1102 [==============================] - 0s 52us/sample - loss: 0.4963 - acc: 0.8276
Epoch 37/100
1102/1102 [==============================] - 0s 47us/sample - loss: 0.4936 - acc: 0.8276
Epoch 38/100
1102/1102 [==============================] - 0s 41us/sample - loss: 0.4906 - acc: 0.8276
Epoch 39/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.4883 - acc: 0.8276
Epoch 40/100
1102/1102 [==============================] - 0s 41us/sample - loss: 0.4863 - acc: 0.8276
Epoch 41/100
1102/1102 [==============================] - 0s 42us/sample - loss: 0.4846 - acc: 0.8276
Epoch 42/100
1102/1102 [==============================] - 0s 43us/sample - loss: 0.4829 - acc: 0.8276
Epoch 43/100
1102/1102 [==============================] - 0s 43us/sample - loss: 0.4812 - acc: 0.8276
Epoch 44/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.4798 - acc: 0.8276
Epoch 45/100
1102/1102 [==============================] - 0s 41us/sample - loss: 0.4784 - acc: 0.8276
Epoch 46/100
1102/1102 [==============================] - 0s 41us/sample - loss: 0.4771 - acc: 0.8276
Epoch 47/100
1102/1102 [==============================] - 0s 46us/sample - loss: 0.4759 - acc: 0.8276
Epoch 48/100
1102/1102 [==============================] - 0s 52us/sample - loss: 0.4746 - acc: 0.8276
Epoch 49/100
1102/1102 [==============================] - 0s 42us/sample - loss: 0.4736 - acc: 0.8276
Epoch 50/100
1102/1102 [==============================] - 0s 40us/sample - loss: 0.4725 - acc: 0.8276
Epoch 51/100
1102/1102 [==============================] - 0s 51us/sample - loss: 0.4715 - acc: 0.8276
Epoch 52/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.4706 - acc: 0.8276
Epoch 53/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.4697 - acc: 0.8276
Epoch 54/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.4690 - acc: 0.8276
Epoch 55/100
1102/1102 [==============================] - 0s 45us/sample - loss: 0.4682 - acc: 0.8276
Epoch 56/100
1102/1102 [==============================] - 0s 40us/sample - loss: 0.4675 - acc: 0.8276
Epoch 57/100
1102/1102 [==============================] - 0s 42us/sample - loss: 0.4668 - acc: 0.8276
Epoch 58/100
1102/1102 [==============================] - 0s 43us/sample - loss: 0.4662 - acc: 0.8276
Epoch 59/100
1102/1102 [==============================] - 0s 45us/sample - loss: 0.4657 - acc: 0.8276
Epoch 60/100
1102/1102 [==============================] - 0s 51us/sample - loss: 0.4651 - acc: 0.8276
Epoch 61/100
1102/1102 [==============================] - 0s 45us/sample - loss: 0.4646 - acc: 0.8276
Epoch 62/100
1102/1102 [==============================] - 0s 40us/sample - loss: 0.4642 - acc: 0.8276
Epoch 63/100
1102/1102 [==============================] - 0s 40us/sample - loss: 0.4638 - acc: 0.8276
Epoch 64/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.4634 - acc: 0.8276
Epoch 65/100
1102/1102 [==============================] - 0s 52us/sample - loss: 0.4630 - acc: 0.8276
Epoch 66/100
1102/1102 [==============================] - 0s 53us/sample - loss: 0.4627 - acc: 0.8276
Epoch 67/100
1102/1102 [==============================] - 0s 50us/sample - loss: 0.4624 - acc: 0.8276
Epoch 68/100
1102/1102 [==============================] - 0s 41us/sample - loss: 0.4621 - acc: 0.8276
Epoch 69/100
1102/1102 [==============================] - 0s 81us/sample - loss: 0.4618 - acc: 0.8276
Epoch 70/100
1102/1102 [==============================] - 0s 57us/sample - loss: 0.4616 - acc: 0.8276
Epoch 71/100
1102/1102 [==============================] - 0s 51us/sample - loss: 0.4613 - acc: 0.8276
Epoch 72/100
1102/1102 [==============================] - 0s 64us/sample - loss: 0.4611 - acc: 0.8276
Epoch 73/100
1102/1102 [==============================] - 0s 50us/sample - loss: 0.4609 - acc: 0.8276
Epoch 74/100
1102/1102 [==============================] - 0s 47us/sample - loss: 0.4607 - acc: 0.8276
Epoch 75/100
1102/1102 [==============================] - 0s 42us/sample - loss: 0.4605 - acc: 0.8276
Epoch 76/100
1102/1102 [==============================] - 0s 45us/sample - loss: 0.4604 - acc: 0.8276
Epoch 77/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.4603 - acc: 0.8276
Epoch 78/100
1102/1102 [==============================] - 0s 51us/sample - loss: 0.4601 - acc: 0.8276
Epoch 79/100
1102/1102 [==============================] - 0s 50us/sample - loss: 0.4600 - acc: 0.8276
Epoch 80/100
1102/1102 [==============================] - 0s 46us/sample - loss: 0.4599 - acc: 0.8276
Epoch 81/100

1102/1102 [==============================] - 0s 43us/sample - loss: 0.4598 - acc: 0.8276
Epoch 82/100
1102/1102 [==============================] - 0s 42us/sample - loss: 0.4597 - acc: 0.8276
Epoch 83/100
1102/1102 [==============================] - 0s 43us/sample - loss: 0.4596 - acc: 0.8276
Epoch 84/100
1102/1102 [==============================] - 0s 45us/sample - loss: 0.4595 - acc: 0.8276
Epoch 85/100
1102/1102 [==============================] - 0s 42us/sample - loss: 0.4595 - acc: 0.8276
Epoch 86/100
1102/1102 [==============================] - 0s 59us/sample - loss: 0.4594 - acc: 0.8276
Epoch 87/100
1102/1102 [==============================] - 0s 50us/sample - loss: 0.4594 - acc: 0.8276
Epoch 88/100
1102/1102 [==============================] - 0s 45us/sample - loss: 0.4593 - acc: 0.8276
Epoch 89/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.4593 - acc: 0.8276
Epoch 90/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.4592 - acc: 0.8276
Epoch 91/100
1102/1102 [==============================] - 0s 47us/sample - loss: 0.4592 - acc: 0.8276
Epoch 92/100
1102/1102 [==============================] - 0s 46us/sample - loss: 0.4592 - acc: 0.8276
Epoch 93/100
1102/1102 [==============================] - 0s 44us/sample - loss: 0.4591 - acc: 0.8276
Epoch 94/100
1102/1102 [==============================] - 0s 47us/sample - loss: 0.4591 - acc: 0.8276
Epoch 95/100
1102/1102 [==============================] - 0s 42us/sample - loss: 0.4591 - acc: 0.8276
Epoch 96/100
1102/1102 [==============================] - 0s 45us/sample - loss: 0.4590 - acc: 0.8276
Epoch 97/100
1102/1102 [==============================] - 0s 47us/sample - loss: 0.4591 - acc: 0.8276
Epoch 98/100
1102/1102 [==============================] - 0s 43us/sample - loss: 0.4590 - acc: 0.8276
Epoch 99/100
1102/1102 [==============================] - 0s 42us/sample - loss: 0.4590 - acc: 0.8276
Epoch 100/100
1102/1102 [==============================] - 0s 43us/sample - loss: 0.4590 - acc: 0.8276

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

368/368 - 0s - loss: 0.3902 - acc: 0.8723
Loss: 0.39018610508545587, Accuracy: 0.8722826242446899

Summary: the model was able to correctly identify employees are at the risk of attrition approximately 87% of the time. The deep learning model is a decent reliable classifier since more than 30 different variables were used for input data, more than 1,400 data points.

### 19.6.1 Checkpoints Are Not Just for Video Games

### How to store a trained model to be access outside training environment

With TensorFlow, we have the ability to save and load neural network models at any stage, including partially trained models. When building a TensorFlow model, if we use Keras’ `ModelCheckpoint` method, we can save the model weights after it tests a set number of data points. Then, at any point, we can reload the checkpoint weights and resume model training.

### Outline of Notebook Code:

1. Import dependencies.

2. Import the input dataset.

3. Generate categorical variable list.

4. Create a OneHotEncoder instance.

5. Fit and transform the OneHotEncoder.

6. Add the encoded variable names to the DataFrame.

7. Merge one-hot encoded features and drop the originals.

8. Split the preprocessed data into features and target arrays.

9. Split the preprocessed data into training and testing dataset.

10. Create a StandardScaler instance.

11. Fit the StandardScaler.

12. Scale the data.

13. Define the model.

14. Add first and second hidden layers.

15. Add the output layer.

16. Check the structure of the model.